@import "tailwindcss";

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6;
}